In [2]:
#Importing Necessary Packages

import sys
import numpy as np
import matplotlib.pyplot as plt


import pandas as pd
import scipy
import statsmodels.api as sm 
from statsmodels.stats.outliers_influence import variance_inflation_factor
import random

# Importing the Data

The first step is to import the raw data from the Chitwan Valley Family Study (CVFS). In the cell below, I'm importing the .tsv file in the DS0001 folder. On my computer, I renamed this file to CVFS_Data_001.tsv for ease of use.

I also created a folder on my computer where I saved this python file, as well as the data I'm working with. I would suggest doing the same on your computer. If you want, you can keep them in separate folders, but then you would need to specify the whole file pathway in the code below. If not, you might get an error saying that Python can't find the file.

In [3]:
#Import Data

#Note - the line below tells pandas to read in the data from the CVFS file. The first argument is the name of the file (feel free to rename it however you'd like).
#The second argument tells pandas that each value is seeparated by a tab.

raw_cvfs = pd.read_csv('CVFS_Data_001.tsv', sep='\t')

#This command prints out the data "head", i.e. a snapshot of the data columns and the first 5 rows, which is a handy way to examine your data!
raw_cvfs.head()

/Users/nc8/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,48,49,50,51,52,53,58,59,60,61,62,63,68,69,70,71,72,73,78,79,80,81,82,83,88,89,90,91,92,93,98,99,100,101,102,103,108,109,110,111,112,113,118,119,120,121,122,123,128,129,130,131,132,133,168,169,170,171,172,173,208,209,210,211,212,213,248,249,250,251,252,253,288,289,290,291,292,293,328,329,330,331,332,333,358,359,360,361,362,363,388,389,390,391,392,393,418,419,420,421,422,423,448,449,450,451,452,453,478,479,480,481,482,483,508,509,510,511,512,513,538,539,540,541,542,543,578,579,580,581,582,583,588,589,590,591,592,593,598,599,600,601,602,603,608,609,610,611,612,613,618,619,620,621,622,623,628,629,630,631,632,633,638,639,640,641,642,643,648,649,650,651,652,653,654,655,656,668,669,670,671,672,673,678,679,680,681,682,683,688,689,690,691,692,693,698,699,700,701,702,703,708,709,710,711,712,713,738,739,740,741,742,743,786) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,HHID,AGE1,GENDER1,AGE2,GENDER2,AGE3,GENDER3,INTNO,INTDATE,INTRVR,...,REM64,REM65,REM66,REM67,REM68,REM69,REM70,REM71,REM72,ENDTIME
0,2002,34,1,,,,,49,720401,187,...,0,0,0,0,700000,700000,750000,800000,175000,1024
1,2003,35,1,,,,,48,720401,187,...,0,150000,200000,0,0,0,0,0,100000,927
2,2004,60,0,,,,,34,720401,221,...,0,60000,60000,170000,70000,50000,50000,25000,0,939
3,2005,35,0,35,1,,,34,720401,165,...,0,0,380000,0,0,300000,100000,250000,0,939
4,2006,65,0,,,,,22,720401,116,...,0,0,0,0,0,0,150000,0,8000,1140

In [4]:
#Selecting Crop Data Only

#This command replaces the double spaces in the original data (which represent N/A or no data) with a 0
raw_cvfs.replace(' ',0, inplace=True)


#This creates a new dataframe to store only the data that we want
maize_cvfs = pd.DataFrame()
maize_cvfs['HHID'] = raw_cvfs['HHID']

crop = 'B'


#This loops over each column name in the raw_cvfs dataframe. If the column name matches one of the variables we want, then we store it in the clean_cvfs dataframe
for item in raw_cvfs.columns:
    
    #For example, here I am saying that any variable that contains 'B11A' should be stored in our dataframe. This includes all the separate 'B11A' variables for each year.
    if crop in item[0]:
        maize_cvfs[item] = raw_cvfs[item].astype(float)
        
        
maize_cvfs.head()

,HHID,B11_63,B11_64,B11_65,B11_66,B11_67,B11_68,B11_69,B11_70,B11_71,...,B17_8_63,B17_8_64,B17_8_65,B17_8_66,B17_8_67,B17_8_68,B17_8_69,B17_8_70,B17_8_71,B17_8_72
0,2002,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2003,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2004,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2005,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2006,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#Selecting only households that consistently grew at least 0.35 ha of maize (about 10 kattha)
cleancrop = pd.DataFrame()
cleancrop = maize_cvfs

#Drop first and last year due to data irregularities
#for col in cleancrop.columns:
    #if ('_63' in col) or ('_72' in col):
        #cleancrop.drop(col, axis=1, inplace=True)
        

crop = 'B11'
cleancrop.drop([crop+'_63', crop+'A_63', crop+'B_63', crop+'C_63', crop+'_72', crop+'A_72', crop+'B_72', crop+'C_72'], axis=1, inplace=True)

#Identify minimum land area dedicated to miaze in years 64-71
for item in maize_cvfs:
    cleancrop['MinLand'] = cleancrop[[crop+'A_64', crop+'A_65', crop+'A_66', crop+'A_67', crop+'A_68', crop+'A_69', crop+'A_70', crop+'A_71']].min(axis=1)
    
cleancrop.head()  

for hh in cleancrop:
    bigmaize = cleancrop.loc[cleancrop['MinLand'] >= 5]
    
bigmaize.head()

,HHID,B11_64,B11_65,B11_66,B11_67,B11_68,B11_69,B11_70,B11_71,B11A_64,...,B17_8_64,B17_8_65,B17_8_66,B17_8_67,B17_8_68,B17_8_69,B17_8_70,B17_8_71,B17_8_72,MinLand
0,2002,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
2,2004,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
6,2011,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
7,2012,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
12,2026,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0

In [6]:
years = np.arange(64,72,1)

for hh in bigmaize:
    for yr in years:
        bigmaize['Yield_' + str(yr)] = bigmaize[crop+'B_' + str(yr)] / bigmaize[crop+'A_' + str(yr)]

bigmaize.head()

maizeyields = pd.DataFrame()
maizeyields['HHID'] = bigmaize['HHID']

for item in bigmaize.columns:
    
    #For example, here I am saying that any variable that contains 'B11A' should be stored in our dataframe. This includes all the separate 'B11A' variables for each year.
    if 'Yield' in item:
        maizeyields[item] = bigmaize[item].astype(float)

print(len(maizeyields))
maizeyields.head()

/Users/nc8/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

908

,HHID,Yield_64,Yield_65,Yield_66,Yield_67,Yield_68,Yield_69,Yield_70,Yield_71
0,2002,174.285714,167.285714,160.285714,167.285714,160.285714,167.285714,160.285714,174.285714
2,2004,195.142857,195.142857,209.142857,216.142857,271.857143,271.857143,278.857143,278.857143
6,2011,60.520000,58.560000,69.000000,70.689655,67.310345,70.689655,73.000000,69.714286
7,2012,195.200000,185.400000,175.700000,171.800000,146.375000,152.500000,158.625000,152.500000
12,2026,167.285714,181.285714,174.285714,187.714286,167.285714,181.285714,174.285714,181.285714

In [8]:
pivoted_maize = pd.wide_to_long(maizeyields, ["Yield"], i='HHID', j='Year', sep='_').reset_index()
pivoted_maize.head()

pivoted_maize['Yield'].describe()

count    7264.000000
mean      112.537112
std        45.232804
min        17.355932
25%        83.375000
50%       108.444444
75%       138.333333
max       506.250000
Name: Yield, dtype: float64

In [9]:
repivoted_maize = pd.pivot(pivoted_maize, index='Year', columns='HHID', values='Yield')

repivoted_maize.head()

HHID,2002,2004,2011,2012,2026,2033,3006,6003,6005,6006,...,170004,170005,170006,170008,170010,170017,170029,170049,171003,171004
Year,,,,,,,,,,,,,,,,,,,,,
64,174.285714,195.142857,60.520000,195.200,167.285714,87.8,75.076923,104.571429,97.578947,145.981311,...,148.979592,61.000,114.823529,134.250,119.454545,131.891892,122.00,76.714286,83.783784,176.470588
65,167.285714,195.142857,58.560000,185.400,181.285714,87.8,75.076923,101.071429,95.052632,105.076923,...,147.959184,56.125,120.588235,140.250,119.454545,130.567568,117.10,93.857143,81.081081,215.000000
66,160.285714,209.142857,69.000000,175.700,174.285714,82.8,97.600000,97.571429,100.157895,155.140190,...,148.979592,52.450,123.411765,134.250,124.181818,118.702703,119.55,93.857143,81.081081,210.000000
67,167.285714,216.142857,70.689655,171.800,187.714286,87.8,97.600000,93.857143,97.578947,101.076923,...,146.938776,50.025,129.176471,127.750,128.636364,138.486486,117.10,93.857143,86.486486,225.000000
68,160.285714,271.857143,67.310345,146.375,167.285714,178.0,97.600000,87.142857,120.153846,109.532712,...,153.061224,36.600,114.823529,115.875,124.181818,131.891892,122.00,76.714286,81.081081,230.000000

In [10]:
#Calculating correlation matrix

matrix = repivoted_maize.corr(method='pearson')
matrix.fillna(0, inplace=True)
running_corr = []

for i in range(len(matrix)):
    for j in range(len(matrix.columns)):
        if i < j:
            running_corr.append(matrix.iloc[i,j])

p_avg = np.average(running_corr)
print(p_avg)

0.07318698689991923

In [12]:
samples = 1000
households = 20
max_hh = len(matrix)
avg_rho = np.zeros(samples)

for a in range(samples):
    random_households = random.sample(range(0, max_hh), households)
    corr_array = []
    
    for i in random_households:
        for j in random_households:
            if i < j:
                corr_array.append(matrix.iloc[i,j])

    avg_rho[a] = np.average(corr_array)

print(avg_rho)

print(np.min(avg_rho))
print(np.average(avg_rho))
print(np.max(avg_rho))

[ 0.32577665  0.11543512  0.05785939  0.11188299  0.115391    0.01827552
  0.06368497  0.0793098   0.19584019  0.12158321  0.05680415  0.12057692
  0.00193753  0.08087258  0.01292509  0.0793503   0.1004222   0.14625666
  0.0120408   0.1926372   0.06808005  0.13861574  0.1107967   0.0582046
  0.13557557  0.10888364  0.11092402  0.00999561  0.11982638  0.04620165
  0.0366533  -0.00177679  0.12918873  0.05192456  0.15530419  0.20095136
  0.11662933  0.01784337  0.03767946 -0.01573109  0.16838708 -0.02370052
  0.05493577  0.05563507  0.14065213  0.0718717   0.11571569 -0.00761247
  0.01640496  0.13050248  0.06502749  0.06504106  0.03072387  0.01929164
 -0.00423983  0.0895867   0.02276621  0.10355231  0.13980422  0.03345941
  0.06891704  0.04809739  0.02582313  0.11826575  0.15642026  0.04455599
  0.08787869  0.11585993  0.02809957  0.04839876  0.12802004  0.07367026
  0.03263572  0.11097017  0.02899534 -0.00641742  0.0499535   0.05807759
  0.0616821   0.05139731  0.10460392  0.20572534  0.08601275  0.02282338
 -0.00975453 -0.00214253  0.01389487  0.04455752  0.13729454  0.01167582
  0.07959701  0.00670489  0.11623746  0.03495745  0.09506424  0.00945605
  0.0208875   0.10875049  0.0582084   0.13866651]
-0.023700523933309427
0.07546959808691747
0.32577664610881596